@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* (LIGHT MODE) */
  :root {
    --background: 330 16% 88%;
    --foreground: 334 17% 10%;

    --card: 336 31% 94%;
    --card-foreground: 334 17% 10%;

    --popover: 330 18% 94%;
    --popover-foreground: 334 17% 10%;

    --primary: 336 62% 24%;
    --primary-foreground: 330 33% 95%;

    --secondary: 334 30% 85%;
    --secondary-foreground: 336 62% 24%;

    --muted: 330 14% 92%;
    --muted-foreground: 330 2% 54%;

    --accent: 336 19% 58%;
    --accent-foreground: 336 62% 24%;

    --destructive: 2 100% 48%;
    --destructive-foreground: 330 33% 95%;

    --border: 330 3% 58%;
    --input: 330 3% 58%;
    --ring: 336 26% 46%;

    --radius: 0.5rem;
  }

  /* (DARK MODE) */
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
